{% extends "base.html" %}
{%block title%}About{%endblock%}
{%block titlesuffix%} - {%endblock%}
{% block body %}
<div style="position: relative;top:1em;left:-4em" class="d-flex justify-content-center">
	<h1 style="position:relative;left:8.5em;top:0.5em;" class="m-0">
		About
	</h1>
	<div style="position: relative;top:5em;left:1em;" class="m-0 text-wrap text-break">
		<p>
			<a href="/p/ANDREI12333_">I</a> started this project to add additional features that <a href="https://namemc.com">NameMC</a> does not.
		</p>
	</div>
</div>
{% endblock %}